anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
autopep8
Babel
backcall
beautifulsoup4
bleach
bs4
camelot-py
certifi
cffi
chardet
charset-normalizer
click
click-plugins
cligj
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
et-xmlfile
executing
fastjsonschema
feedparser
Fiona
flake8
fonttools
geopandas
ghostscript
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
munch
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook-shim
numpy
oauthlib
opencv-python
openpyxl
packaging
pandas
pandocfilters
parso
pdfminer.six
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
PyPDF2
pyproj
pyrsistent
python-dateutil
pytz
pyzmq
requests
requests-oauthlib
Send2Trash
sgmllib3k
Shapely
six
sniffio
soupsieve
stack-data
tabulate
terminado
tinycss2
toml
tornado
traitlets
twitter-text-parser
urllib3
wcwidth
webencodings
websocket-client
tqdm
lxml
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib